//importanto los elementos externos
@import url("../externo/css/metro-bootstrap-responsive.min.css")
@import url("../externo/css/metro-bootstrap.min.css")
@import url("../externo/css/iconFont.min.css")

//selectores universales
body, html
    background #808080
    text-align center

//selectores manipulados por id
#divElementos
    background red
#divMeGustan
    background blue
#divNoMeGustan
    background black

//selectores manipulados por clase
.divAgregando
    background white
    cursor pointer
    display inline-block
    margin .5% .5%
    padding .05%
    vertical-align top
    width 22%
.divArrastrar
    display inline-block
    margin auto 5% auto auto
    vertical-align top
    width 25%
.divDragDrop
    height 300px
.input-control, #btnAgregar
    display inline-block